<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
     <h1 class="jumbotron">Add Patient</h1>

     <b>{{message}}</b> <br>
     <form action="/add" method="post" style="text-align:center">
         <input type="number" name="patient_id" placeholder="Enter Patient ID" required>
         <br><br>

         <input type="text" name="first_name" placeholder="Enter First Name" required>
         <br><br>

         <input type="text" name="last_name" placeholder="Enter Last Name" required>
         <br><br>

         <input type="text" name="surname" placeholder="Enter Surname" required>
         <br><br>

         <input type="email" name="email" placeholder="Enter Email" required>
         <br><br>

         <input type="tel" name="phone" placeholder="Enter Phone" required>
         <br><br>

         <input type="text" name="address" placeholder="Enter Address" required>
         <br><br>

         <input type="text" name="next_of_kin" placeholder="Enter Next of Kin Name" required>
         <br><br>

         <input type="text" name="next_of_kin_phone" placeholder="Enter Next of Kin phone" required>
         <br><br>

         <input type="submit" value="ADD PATIENT" class = "btn btn-primary">
     </form>

</body>
</html>