<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   <!--create a simples grocery/foods/drinks-->
   <!-- Front End - includes UI components, i.e images/text/design - its what users see -->
   <!-- What you see on Front End can be static/dynamic-->
   <!-- its static  - the content you are seeing is hard coded in html  -->


   <!-- Back End  -  involves logic and databases   - Python/SQL  -->
   <!-- Using the BackEnd the site can be dynamic,   users can pull the data from the
   database-->


   <section class="row">
       <div class="col-md-6">
           <img src="../static/pic1.jpeg" alt="">
       </div>

       <div class="col-md-6">
           <h1>GreenLand Grocery</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae praesentium. Ad atque doloremque iusto odit quod sit, tenetur voluptas! Aliquam amet eius fugiat fugit id ratione recusandae repellendus.</p>


       </div>

   </section>


























</body>
</html>