<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phones on Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<h2 class="jumbotron text-center">Phones on Sale</h2>
 <b>{{message}}</b>

    <div class="text-center">
         <a href="/" class="btn btn-info">Home</a>  /
     </div>

 <section class="container">
     <div class="row text-center">
     {% for row in rows %}
       <div class="col-md-6">
           <img src="{{row[7]}}" alt="" class="img-fluid" width="200" height="200">
           <h5>{{row[1]}}</h5>
           <p class="text-muted">{{row[2]}}</p>
           <b>KES {{row[5]}}</b><br>
           <a href="/single_display/{{row[0]}}" class="btn btn-primary btn-sm">BUY NOW</a>
           <br><br>
       </div>
         {% endfor %}
     </div>
 </section>

</body>
</html>