<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Patients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
</head>
<body>

  <h2 class="jumbotron">Search Patients</h2>
  <section class="row">
      <div class="col-md-8">
          
      </div> 
      
      <div class="col-md-4">
          <form action="/search_patient" method="post">
              <input type="text" name="patient_id" placeholder="Search By Patient ID">
              <br><br>
              <input type="submit" value="SEARCH PATIENT" class="btn btn-primary">
          </form>
      </div>
      
  </section>









</body>
</html>