<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

   <h1 class="jumbotron">Patients</h1>

    <div class="text-center">
         <a href="/add" class="btn btn-info">Add Patient</a>  /
         <a href="/view_patients" class="btn btn-info">View Patients</a>  /
         <a href="/search_patient" class="btn btn-info">Search Patient</a>  /
         <a href="/view_doctors" class="btn btn-info">View Doctors</a>  /
         <br><br>
     </div>

   {{message}}

   <div class="bg-secondary text-white" style="margin-left: 2%; padding:2%;">
   {% for row in rows %}
       <b> Patient ID:</b> {{row[0]}} <br>
       <b> Full Name: </b> {{row[1]}}  {{row[2]}}  {{row[3]}} <br>
       <b> Email:</b> {{row[4]}} <br>
       <b> Phone: </b>{{row[5]}} <br>
       <b> Address: </b> {{row[6]}} <br>
       <b> Next of Kin:</b> {{row[7]}} <br>
       <b> Next of Kin Phone:</b> {{row[8]}}<br><br>
       <a href="" class="btn btn-info">Lab Report</a>
       <br><br>
   {% endfor %}

   </div>


</body>
</html>